<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Start</title>
    <style>

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: #004080;
            margin-bottom: 20px;
        }

        .nav-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }

        .nav-buttons a {
            background-color: #004080;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 10px;
            text-decoration: none;
        }

        .nav-buttons a:hover {
            background-color: #002633;
        }
    </style>
</head>
<body>
<h1>Let's Start</h1>

<div class="nav-buttons">
    <a href="/astpic">Explore Astronomy Pictures</a>
    <a href="/asteroids">Get Asteroids Information</a>
    <a href="/admin">Visit Admin Page</a>
    <a href="/">Go to Home</a>
    <a href="/history">Check History</a>
</div>
</body>
</html>
