<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore the Cosmos</title>
    <style>
        body {
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            max-width: 80%;
        }

        h1 {
            color: #004080;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 15px;
        }

        a {
            color: #004080;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #004080;
            text-align: center;
            color: white;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Welcome to the Cosmos Explorer</h1>
    <p>Choose an option:</p>
    <div>
        <a href="/login">Login</a>
        <span> or </span>
        <a href="/register">Register</a>
    </div>
</div>

<footer>
    <p>Mitalipova Anida SE-2230</p>
</footer>
</body>
</html>
